__pycache__/
*.pyc
runs/
data/
checkpoints
checkpoints/
workspace/
external/
venv/
.venv*/
cache/
hf/
wandb/
logs/
env.sh
*.pt
*.ckpt
*.npz
*.h5
slurm-*.out
.DS_Store
*.egg-info/

# pipeline logs
*.log
.env
